---
#
# Emacs installer & config
#
# References
# http://www.plusastra.com/2012/11/installing-emacs-24-on-debian-wheezy.html
# http://www.emacswiki.org/emacs-es/EmacsSnapshotAndDebian
#

#
# Add org-mode pdf export support (942MB of disk space required!)
# Find a lighter alternative.
#  - texlive-latex-base, texlive-latex-recommended, texlive-latex-extra
#

- name: Install git
  apt: pkg=git-core

- name: Install emacs
  apt: name=emacs24

- name: Install cask
  git: repo=https://github.com/cask/cask.git
  args:
    dest: "/home/{{ user }}/.cask"

- name: Set permissions
  file: path="/home/{{ user }}/.cask"
  args:
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Add cask bin PATH to Bash profile
  lineinfile:
    dest="/etc/profile"
    regexp=".cask\/bin"
    line='export PATH="/home/{{ user }}/.cask/bin:$PATH"'
    state=present    

- name: Copy my setup across
  git: repo="https://github.com/{{ user }}/emacs-config.git"
  args:
    dest: "/home/{{ user }}/.emacs.d"
    update: no

- name: Compile my plugins
  command: "/home/{{ user }}/.cask/bin/cask"
  args:
    chdir: "/home/{{ user }}/.emacs.d"

- name: Set permissions
  file: path="/home/{{ user }}/.emacs.d"
  args:
    owner: "{{ user }}"
    group: "{{ user }}"
    recurse: yes
    state: directory

# OLD Way


# - name: Install emacs graphics libraries
#   action: apt pkg={{ item }} state=installed
#   with_items:
#     - libxaw7-dev
#     - libxpm-dev
#     - libpng12-dev
#     - libtiff5-dev
#     - libgif-dev
#     - libjpeg8-dev
#     - libgtk2.0-dev
#     - libncurses5-dev

# - name: Install GNU-Autotools
#   action: apt pkg={{ item }} state=installed
#   with_items:
#     - autoconf
#     - automake
#     - texinfo

# - name: Download latest stable release 24.3 from March 2013
#   command: wget http://gnu.mirror.uber.com.au/emacs/emacs-24.3.tar.gz chdir=/tmp creates=/usr/local/bin/emacs

# - name: Untar image
#   shell: tar xvf emacs-24.3.tar.gz chdir=/tmp creates=/usr/local/bin/emacs

# - name: Generate emacs config
#   action: command ./autogen.sh chdir=/tmp/emacs-24.3 creates=/tmp/emacs-24.3/configure

# - name: Run emacs configure
#   action: command ./configure --prefix=/opt/emacs24 chdir=/tmp/emacs-24.3 creates=/usr/local/bin/emacs

# - name: Compile emacs24
#   command: make -j $ansible_processor_cores chdir=/tmp/emacs-24.3 creates=/usr/local/bin/emacs

# - name: Install emacs24
#   command: make install chdir=/tmp/emacs-24.3 creates=/usr/local/bin/emacs

# - name: Link emacs24
#   command: ln -s /opt/emacs24/bin/emacs /usr/local/bin/emacs creates=/usr/local/bin/emacs

# - name: Install window control
#   apt: pkg=wmctrl state=present
