---
#
# Programming tools and configuration
#  
- name: Install git
  apt: pkg=git state=installed

- include: emacs.yml
- include: rbenv.yml
- include: node.yml
- include: rails.yml
- include: phantomjs.yml
     
- name: Install programming tools
  action: apt pkg={{ item }} state=installed force=yes
  with_items:
    - vim
    - giggle
    - tig
    - gitg
    - ghex
    - geany
    - pgadmin3

- name: Install cheat
  action: command bash -c "/usr/local/bin/gem install cheat" creates=/usr/local/rbenv/versions/$ruby_version/bin/cheat

  
