---
#
# Ruby installation
#

#
# Install ruby & ruby headers
#
- name: Install ruby & linux libraries needed for ruby
  action: apt pkg={{item}} state=installed
  with_items:
    - ruby
    - ruby-dev
    - zlib1g-dev
    - liblzma-dev
  become: yes

#    
# Test that we can install gems using ruby system install
#
- name: install cheat
  gem:
    name: cheat
    state: present
    user_install: no
  become: yes

