# 
# Install ruby qt bindings (for front display screen)
#
- name: Install required libraries
  apt: pkg=$items state=installed
  with_items:
    - cmake
    - build-essential
    - bison
    - openssl
    - libreadline5
    - libreadline-dev
    - curl
    - git-core
    - zlib1g
    - zlib1g-dev
    - libssl-dev
    - vim
    - libsqlite3-0
    - libsqlite3-dev
    - sqlite3
    - libreadline5-dev
    - libreadline6-dev
    - libxml2-dev
    - git-core
    - subversion
    - autoconf
    - xorg-dev
    - libgl1-mesa-dev
    - libglu1-mesa-dev
    - qtcreator        # Very large and could be done lighter I think
        
- name: Install qtbindings
  action: command bash -c "/usr/local/bin/gem install qtbindings" creates=/usr/local/rbenv/shims/rbenv-rehash
