---
#
# System related tasks and tools
#

- name: Install system tools
  action: apt pkg={{ item }} state=installed force=yes
  with_items:
    - htop              # system health
    - pwgen             # password generator
    - screen            # multi-screen sessions
    - openssh-server    # ssh
    - sysstat           # Performance statistics (iostat, etc)
    - ncdu              # Check disk usage per directory
    - mosh              # Awesome mobile ssh server/client
    - safe-rm           # Stop people typing 'rm -fr /'
    - molly-guard       # Save people from rebooting the wrong server.
    - expect            # Required for some installation scripts
    - mg                # emacs lite
    - git               # version control
    - command-not-found # helper for apt
    - apt-file          #
    - locate            # locate files
    - inxi              # Print basic information about a computer look at -v7 flag.
    - strace            # Diags
    
- name: Update command-not-found
  command: update-command-not-found
  args:
    creates: /var/cache/apt/apt-file
  when: ansible_os_family == "Debian"

- include: locale.yml

