---
#
# HTML to PDF commandline tool
# (Tested on: Debian Stretch)

- name: Install wkhtmltopdf fonts
  action: apt pkg={{ item }} state=present force=yes
  with_items:
    - xfonts-base
    - xfonts-75dpi

- name: Download wkhtmltopdf
  command: wget {{wkhtmltopdf_download}}{{wkhtmltopdf_deb}} chdir=/tmp creates=/usr/local/bin/wkhtmltopdf

- name: Install from deb
  shell: dpkg -i /tmp/{{wkhtmltopdf_deb}}

- name: Remove deb
  shell: rm -fr /tmp/wkhtmltopdf*deb creates=/usr/local/bin/wkhtmltopdf
